<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="E:/Intellij PROJECTS/Rest API PROJECTS">
        <classes>
            <class name="org.example.RestAPI_22_ComplexNestedJson">

            </class>
        </classes>
    </test>

</suite>
